body
  font-family: 'Source Sans Pro', sans-serif
  
#root
  max-width: 400px
  margin: 20px auto 0
  padding: 15px 20px 20px
  background: #fafafa
  border: 1px solid #F5F5F5  

h2
  margin-top: 0
  margin-bottom: 0
  list-height: 100%

.input-group
  margin-bottom: 10px
  
label
  font-size: 14px
  display: block
  padding-bottom: 5px

input
  width: 100%
  padding: 7px

.notice.has-errors
  padding: 10px
  font-size: 14px
  list-style: none
  background: #FFEBEE
  border: 1px solid #EF9A9A
  color: #E57373
  
.logout a
  color: #000
  display: inline-block
  font-size: 15px
  text-decoration: none
  margin-bottom: 15px
  &:hover
    text-decoration: underline